extends ../layouts/template
block main
  h1 Login
  if errors
    each error in errors
      p= error

  form(action="/auth/login", method="POST")
    input(type="text" name="email" placeholder="email" value!=values ? values.email : "")
    input(type="password" name="password" placeholder="password" value!=values ? values.password : "")
    button Login
