h1#heading User list
a(href="/users/create") Create User
form(action="/users/search", method="GET")
  input#searchTxt(type="text" name="q" value!= q)
  button Search
ul
  each user in users
    li!= user.name
