extends ../layouts/template
block main
  h1#heading User list
  a(href="/users/create") Create User
  form(action="/users/search", method="GET")
    input#searchTxt(type="text" name="q" value!= q)
    button Search
  ul
    each user in users
      li!= user.name
        span(style="padding-left: 10px;")!= user.phone
        a(href="/users/" + user.id style="color: red; padding-left: 15px; cursor: pointer;") View
        a.remove(href="/users/remove/" + user.id) Remove
